* {
    font-family: arial, sans-serif;
}

body {
    background-color: paleturquoise;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: 32px auto;
    margin-bottom: 16px;
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  label{
    font-weight: bold;
    margin-right: 10px;
    margin-left: 75px;
  }
  
  input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
  }
  
  button {
    background-color: darkgrey;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 12px;
    font-weight: 900;
  }
  
  button:hover {
    background-color: lightgrey;
    border: 2px solid lightgoldenrodyellow;
  }
  
  
  